configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Ars-Dark-Icons";
    font: "JetBrains Mono 12";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{name}";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
}

@theme "purple-cat"