@define-color borders_breeze #45475c;
@define-color content_view_bg_breeze #131328;
@define-color error_color_backdrop_breeze #c83771;
@define-color error_color_breeze #c83771;
@define-color error_color_insensitive_backdrop_breeze #4e1e3e;
@define-color error_color_insensitive_breeze #4e1e3e;
@define-color insensitive_base_color_breeze #121226;
@define-color insensitive_base_fg_color_breeze #525565;
@define-color insensitive_bg_color_breeze #15152d;
@define-color insensitive_borders_breeze #25253c;
@define-color insensitive_fg_color_breeze #545669;
@define-color insensitive_selected_bg_color_breeze #15152d;
@define-color insensitive_selected_fg_color_breeze #545669;
@define-color insensitive_unfocused_bg_color_breeze #15152d;
@define-color insensitive_unfocused_fg_color_breeze #545669;
@define-color insensitive_unfocused_selected_bg_color_breeze #15152d;
@define-color insensitive_unfocused_selected_fg_color_breeze #545669;
@define-color link_color_breeze #8e8ed5;
@define-color link_visited_color_breeze #8888cc;
@define-color success_color_backdrop_breeze #00aa7f;
@define-color success_color_breeze #00aa7f;
@define-color success_color_insensitive_backdrop_breeze #0c4443;
@define-color success_color_insensitive_breeze #0c4443;
@define-color theme_base_color_breeze #131328;
@define-color theme_bg_color_breeze #16162f;
@define-color theme_button_background_backdrop_breeze #191936;
@define-color theme_button_background_backdrop_insensitive_breeze #181833;
@define-color theme_button_background_insensitive_breeze #181833;
@define-color theme_button_background_normal_breeze #191936;
@define-color theme_button_decoration_focus_backdrop_breeze #5b4e9d;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #2e2a56;
@define-color theme_button_decoration_focus_breeze #5b4e9d;
@define-color theme_button_decoration_focus_insensitive_breeze #2e2a56;
@define-color theme_button_decoration_hover_backdrop_breeze #6055aa;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #302c5a;
@define-color theme_button_decoration_hover_breeze #6055aa;
@define-color theme_button_decoration_hover_insensitive_breeze #302c5a;
@define-color theme_button_foreground_active_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #545669;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #545669;
@define-color theme_button_foreground_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_backdrop_insensitive_breeze #56586d;
@define-color theme_button_foreground_insensitive_breeze #56586d;
@define-color theme_button_foreground_normal_breeze #d3dae3;
@define-color theme_fg_color_breeze #d3dae3;
@define-color theme_header_background_backdrop_breeze #16162f;
@define-color theme_header_background_breeze #16162f;
@define-color theme_header_background_light_breeze #16162f;
@define-color theme_header_foreground_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_breeze #d3dae3;
@define-color theme_hovering_selected_bg_color_breeze #6055aa;
@define-color theme_selected_bg_color_breeze #5b4e9d;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #d3dae3;
@define-color theme_titlebar_background_backdrop_breeze #16162f;
@define-color theme_titlebar_background_breeze #16162f;
@define-color theme_titlebar_background_light_breeze #16162f;
@define-color theme_titlebar_foreground_backdrop_breeze #d3dae3;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_breeze #d3dae3;
@define-color theme_unfocused_base_color_breeze #131328;
@define-color theme_unfocused_bg_color_breeze #16162f;
@define-color theme_unfocused_fg_color_breeze #d3dae3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #2a254b;
@define-color theme_unfocused_selected_bg_color_breeze #2a254b;
@define-color theme_unfocused_selected_fg_color_breeze #d3dae3;
@define-color theme_unfocused_text_color_breeze #d3dae3;
@define-color theme_unfocused_view_bg_color_breeze #121226;
@define-color theme_unfocused_view_text_color_breeze #525565;
@define-color theme_view_active_decoration_color_breeze #6055aa;
@define-color theme_view_hover_decoration_color_breeze #6055aa;
@define-color tooltip_background_breeze #16162f;
@define-color tooltip_border_breeze #45475c;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #45475c;
@define-color unfocused_insensitive_borders_breeze #25253c;
@define-color warning_color_backdrop_breeze #685bb6;
@define-color warning_color_breeze #685bb6;
@define-color warning_color_insensitive_backdrop_breeze #2e2a56;
@define-color warning_color_insensitive_breeze #2e2a56;
